*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #555;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container{
    max-width: 1260px;
    margin: auto;
}
.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: #333;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    padding: 30px 0;
}
.form .option{
    width: 200px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 10px;
    font-weight: 600;
}
.form .search_input{
    padding: 11px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-right: 15px;
    margin-bottom: 10px;
}
.form .btn{
    padding: 11px 77px;
    color: #fff;
    background-color: #007ACC;
    border: none;
    border-radius: 5px;
    margin-right: 15px;
   
}
.list{
    padding: 0;
    margin-top: 100px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.movie__item{
    width: 300px;
    height: 600px;
    margin: 15px 7px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9);
    background-color: #333;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: #fff;
}
.title{
    height: 80px;
    padding: 20px 15px;
    text-align: center;
    line-height: 20px;
}
.modal{
    width: 100%;
    height: 100vh;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}
.modal_content{
    width: 700px;
    max-width: 100%;
    height: 400px;
    max-height: 100vh;
    padding: 15px 20px;
    background-color: #aaa;
    border-radius: 5px;
    position: relative;
}
.modal .modal_content .block_info{
    display: flex;
}
.descrip_title{
    color: #555;
    font-size: 22px;
    font-weight: 900;
    font-family:Verdana, Tahoma, sans-serif;
    margin-bottom: 10px;
    display: block;
}
.modal_description{
    font-style: italic;
    font-size: 20px;
}
.modal_content .block_info .modalimg{
    width: 200px;
    height: 250px;
    border-radius: 5px;
    margin-right: 20px;

}
.modal_content .modal_raiting{
    margin-top: 10px;
    color: #333;
}
.modal_line{
    width: 200px;
    height: 10px;
    background-color: #cccc;
    border-radius: 20px;
    margin: 10px 0;
}
 .modal_underline{
    width: 200px;
    height: 10px;
    background-color: gold;
    border-radius: 20px;
}
.modal_content .close_btn{
    border: none;
    padding: 15px 30px;
    background-color: #333;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    position: absolute;
    right: 25px;
    bottom: 25px;
}
.modal_content .close_btn:hover{
    background-color: #000;
}
.active{
    display: flex;
}
.movie__item .open_modal{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 22px;
    color: gold;
    font-style: italic;
    cursor: pointer;
    border-bottom: 2px solid gold;
}
.subtitle{
    padding: 15px 15px;
    color: #fff;
    font-size: 14px;
    line-height: 25px;
}
.genres, .date{
    padding: 15px;
    font-weight: 600;
}    
.line{
    width: 200px;
    height: 10px;
    background-color: #cccc;
    border-radius: 20px;
    margin: 10px auto;
}
 .underline{
    width: 200px;
    height: 10px;
    background-color: gold;
    border-radius: 20px;
}
.raiting_title{
    font-family: sans-serif;
    margin-top: 10px;
    margin-left: 15px;
}

