*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    font-family: sans-serif;
}
.container{
    max-width: 950px;
    margin: auto;
}
.list{
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
li{
    width: 300px;
    margin: 20px 0 20px 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    
}
.title{
    height: 60px;
    padding: 20px 15px;
    line-height: 20px;
    color: #333;
}
.subtitle{
    padding: 0 15px;
    height: 250px;
    color: #333;
    font-size: 14px;
}
.genres, .date{
    padding: 15px;
    font-weight: 600;
    color: #333;
}
.line{
    width: 200px;
    height: 10px;
    background-color: #cccc;
    border-radius: 20px;
    margin: 10px 0 20px 15px;
}
 .underline{
    width: 200px;
    height: 10px;
    background-color: #0D6EFD;
    border-radius: 20px;
}
span{
    font-family: sans-serif;
    margin-left: 15px;
}
.form{
    margin: 20px 0 0 20px;
    position: fixed;
}
.form #option{
    padding: 10px 60px 10px 0;
    margin-bottom: 20px;
    outline: none;
    border-radius: 3px;
}
.form .btn{
    padding: 10px 66px;
    color: #fff;
    background-color: #0D6EFD;
    border: none;
    border-radius: 3px;
}
@media only screen and (max-width: 460px){
    body{
        display: inline;
        overflow-x: hidden;
    }
    #list{
        width: 400px;
        margin-left: 30px;
    }
    .form{
        position: relative;
        margin-left: 110px;
    }
}